<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VUE-DEMO</title>
</head>
<body>
    <div id ="app">
        <input type="radio" id="one" value="one" v-model="picked">
        <label for="one">One</label>
        <input type="radio" id="two" value="two" v-model="picked">
        <label for="two">two</label>
        <div>picked:{{picked}}</div>

   </div>
   <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
   <script>
       var vm = new Vue ({
           el:'#app',
           data:{
               picked:''
          }
       })
   </script>
</body>
</html>