<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VUE-DEMO</title>
</head>
<body>
    <div id ="app">
        <select v-model="selected">
            <option v-for="option in options" v-bind:value="option.value">
                {{option.text}}
            </option>
        </select>
        <br>
        <div>selected:{{selected}}</div>

   </div>
   <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
   <script>
       var vm = new Vue ({
           el:'#app',
           data:{
               selected:'A',
               options:[
                   {text:'one',value:'A'},
                   {text:'two',value:'B'},
                   {text:'three',value:'C'}

               ]
          }
       })
   </script>
</body>
</html>